<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Capital city</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>

    <fieldset>
        <legend><h1>Capital city</h1></legend>
        <img src="{{ capital.img }}" alt="" width="400px">
        <p>What is the capital of {{ capital.country }}?</p>
        <br>
        <form action="/result" method="post">
        <input type="text" name="answer">
            <input type="hidden" value="{{ capital.country }}" name="country">
        <button>Answer</button>
    </form>
    </fieldset>

</body>
</html>